
      
<div id="index_id">
  <div id="img">
    <%= image_tag @user.avatar.url,:size => "170x150", :alt=>"/home/rajeev_work/echo_friend/q.png" %>
  </div>
    hello <%= link_to "#{@user.email_id}",userprofile_user_path(@user.id) %>  <%= link_to 'edit profile', edit_user_path(@user) %>   <%= link_to 'logout',logout_login_path(@user) %>
</div>

<div id="left_item">
  <div id="added_friend">
    Friend list....
     <% @friend_added_name.each do |friend| %>
       <br /> <%= friend.user_name %>
     <% end %>
  </div>

  <div id="friend_request_name">
       Friend_Request....<p>
    <% @friend_request_name.each do |friend| %>
      <%= friend.user_name %> 
      <%= button_to "Accept", {:controller => :friendrequest,:action => 'add_friend_into_list', :id => friend.id }, :method => :get %>
      <%= button_to "Ignore", {:controller => :friendrequest,:action => 'destroy', :id => friend.id }, :method => :delete %>
      
    <% end %>
  </div> 
</div>

<div id="right_item">
   <%= link_to 'See all friend',all_suggess_friends_friendrequest_path(@user) %></br><p>
   <% @friends_lists.each do |f| %>
      <% if f.email_id == session[:user_id] %>
      <% else  %> 
        <%= f.user_name %><%= link_to 'Add friend', addfriend_friendrequest_path(f.id) %></br>
      <% end %>
   <% end %>
</div>

<div id="middle" >
   <p><%= link_to 'POST', {:controller=>"wall",:action=> 'new'},:remote=>true %></p>
   <div id="postwall"></div><br />
   <div id="postwalls"></div>
  
</div>

<div id="footer">
</div>

<%= javascript_tag do %>
  $("#middle").bind("ajax:complete", function(et, e){
    $("#postwall").html(e.responseText); // insert content
  });
<% end %>
<%= javascript_tag do %>
  $("#new_wall").bind("ajax:complete", function(et, e){
    $("#postwalls").append(e.responseText); // insert content
  });
<% end %>